[2021-09-30 10:06] GawdOfROFL opened #2 "URL-Shortener Script Request"
## Suggest a new script for the project

### Describe the new script you want
I want an url shortener script

### Describe the solution you'd like us to follow
Instead of using an API, we can query a site with requests module and parse the response for the shortened url.

## Do you want to work on this?
- [ ] yes
- [x] no

[2021-09-30 12:53] rijusougata13 opened #3 "Random-Password Generator"
## Suggest a new script for the project

### Describe the new script you want
I want a script that will generate random Passwords for me to help my online safety.

### Describe the solution you'd like us to follow
We can use the random module to randomize the password every time. Scripts that support storage with encryption for generated passwords should be given higher priority.

## Do you want t

[2021-09-30 13:05] IamBikramPurkait opened #4 "Newspaper Downloader"
## Suggest a new script for the project

### Describe the new script you want
You can download the newspaper on any date you want.

### Describe the solution you'd like us to follow
It made by tkinter and it can scrap the official newspaper website and download the image and make a pdf for any date.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-09-30 13:07] OBITORASU commented on #4
Great idea assigning this to you!

[2021-09-30 13:50] soham4abc commented on #2
I am willing to work on this issue can I have it assigned?

[2021-09-30 13:51] OBITORASU commented on #2
Sure go ahead feel free to work on it!

[2021-09-30 18:10] kriptonian1 commented on #3
I would like to work in this issue

[2021-09-30 18:47] #2 closed

[2021-09-30 21:33] ichbinprashant opened #8 "Currency Converter"
## Suggest a new script for the project

### Describe the new script you want
A real time GUI currency converter where value of one currency can be converted to that of another one in accordance to the exchange rate.

### Describe the solution you'd like us to follow
Refer to the image provided

## Do you want to work on this?
- [ ] yes
- [ no ] no

### Additional context
![image](https://user-ima

[2021-10-01 02:56] soham4abc opened #10 "QR Code Generator"
## Would like to see a QR code generator script

### Describe the new script you want
User will input a link and the script returns a QR code of that link

### Describe the solution you'd like us to follow
A python script is preferable

## Do you want to work on this?
- [ ] yes
- [x] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable r

[2021-10-01 03:20] danger-ahead commented on #10
Hi. Can I work on this issue?

[2021-10-01 03:33] soham4abc opened #11 "YouTube Video Downloader"
## Would like to see a YouTube video downloader which searches by both keyword and link

### Describe the solution you'd like us to follow
You can use any python package you want just mention it in the README and requirements.txt

## Do you want to work on this?
- [ ] yes
- [x] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove

[2021-10-01 03:33] belelaritra commented on #11
I like to work on this issue.

[2021-10-01 03:45] #4 closed

[2021-10-01 04:09] OBITORASU opened #12 "Newsdown is using a vulnerable version of the Pillow library"
## Create a report to help us improve our scripts

### Mention the script affected by the bug
Newsdown

### Describe the bug
Newsdown is vulnerable to a DoS attack because of a vulnerable dependency in it namely Pillow version < 8.3.2.

### To Reproduce
Check the Pillow version in requirements.txt you will notice there is an advisory out for it being vulnerable

### Expected behavior
We should be

[2021-10-01 04:11] bartick commented on #12
Can I work on it?

[2021-10-01 04:12] OBITORASU commented on #12
Sure thing

[2021-10-01 04:59] #12 closed

[2021-10-01 05:01] OBITORASU commented on #11
I am sorry but I cannot pickup this script request because downloading videos off of YouTube is a direct breach of their ToS currently.

[2021-10-01 05:01] #11 closed

[2021-10-01 05:01] OBITORASU commented on #8
Great idea

[2021-10-01 05:02] OBITORASU commented on #10
Yes feel free to work on this!

[2021-10-01 05:34] OBITORASU opened #14 "Newsdown has unused imports"
## Create a report to help us improve our scripts

### Mention the script affected by the bug
Newsdown

### Describe the bug
The script seems to have imported a few things which were never really used in the script itself.

### Expected behavior
Unused imports should be removed and the script should be tested at least once to see if it runs after the changes.

## Do you want to work on this?
- [ ]

[2021-10-01 05:35] bartick commented on #14
I would I to work on it

[2021-10-01 05:36] OBITORASU commented on #14
Sure feel free!

[2021-10-01 05:37] Stig124 commented on #8
Can I work on that?

[2021-10-01 05:39] OBITORASU commented on #8
Yes you can!

[2021-10-01 05:40] soham4abc opened #15 "Vaccination details checker script"
## A script to check nearest Vaccination center and provide details of it.

### Describe the new script you want
Government API can be used to fetch the details of the vaccination center.

### Describe the solution you'd like us to follow
Use python script to view the available vaccine slots preferably use PIN code to get nearest location.

## Do you want to work on this?
- [ ] yes
- [x] no

Stake

[2021-10-01 05:40] belelaritra commented on #15
I like to work on this issue.

[2021-10-01 05:40] belelaritra commented on #15
I would like to work on this issue.

[2021-10-01 05:42] OBITORASU commented on #15
Assigning this to you @belelaritra. Have fun!

[2021-10-01 06:35] jayaganeshkumar commented on #8
@OBITORASU Hey, do you want any script which collects the details of Crypto Currencies and displays all the details of a particular crypto coin? The details will be stored in a CSV file.

[2021-10-01 06:37] OBITORASU commented on #8
@jayaganeshkumar make an issue and I will have it assigned

[2021-10-01 06:48] jayaganeshkumar opened #17 "Crypto Currency"
### Describe the new script you want
In this script, we will see all the details of cryptocurrency at the instinct of time. Also, if we want to know about a particular crypto coin then it will add those details too. All these details will be stored in a CSV file.

I have used selenium and beautiful soup to do so.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-01 06:51] jayaganeshkumar commented on #8
@OBITORASU I made an issue. Check it out

[2021-10-01 06:52] OBITORASU commented on #17
Sounds good! Assigning this to you.

[2021-10-01 06:53] jayaganeshkumar commented on #17
Thanks man

[2021-10-01 07:39] adviksinghania opened #19 "Check Disk and CPU Usage"
## Script to check disk and average CPU usage.

### Describe the new script you want
A Python3 script to get free space percentage of local disks and average CPU usage over a period of time, using inbuilt modules.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 08:19] OBITORASU commented on #19
Great idea assigning this to you!

[2021-10-01 08:37] ignaviaa commented on #19
hi , i would like to take this up.

[2021-10-01 08:40] ignaviaa commented on #19
hi , i would like to work on it.

[2021-10-01 08:41] OBITORASU commented on #19
This one is already assigned sadly, please open up a new issue if you have a new script idea and I shall have it assigned to you!

[2021-10-01 08:47] ignaviaa commented on #19
ah okay.

[2021-10-01 09:03] #14 closed

[2021-10-01 09:10] #10 closed

[2021-10-01 09:18] dawnblade97 opened #22 "a weather forecast script based on latitude and longitude"
## Suggest a new script for the project

### Describe the new script you want
A simple script that would forecast the weather depending on the city given by user

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 09:21] OBITORASU commented on #22
Nice idea assigning this to you!

[2021-10-01 09:32] Stig124 commented on #8
I'm removing myself, I have way too little knowledge in Python GUIs

[2021-10-01 10:09] ayangupta9 opened #23 "Control System Volume by Hand Gesture"
## Script to Control System Volume by Hand Gesture

### DESCRIPTION
A Python script augmented with a self-curated OpenCV Hand Gesture Detection Module to control the volume of the computer system

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
The project will also contain OpenCV Hand Gesture Detection Module which can be used as a base for other projects.

[2021-10-01 10:37] #17 closed

[2021-10-01 10:50] rijusougata13 commented on #23
go ahead @ayangupta9

[2021-10-01 10:59] OjusWiZard opened #24 "External IP Address"
## Suggest a new script for the project

### Describe the new script you want
It will be a python code to make a request to [http://checkip.dyndns.org](http://checkip.dyndns.org), which in turn send a response back with your External IP address.

This response will be in HTML so it will also extract only useful information from it and print it as an output.

### Describe the solution you'd like us

[2021-10-01 11:03] Kaustuv942 opened #26 "Script for Competitive Programming template maker"
## Suggest a new script for the project

### Describe the new script you want
A script to organize contest code files in cpp for linux users.

### Describe the solution you'd like us to follow
Bash script

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove this section.

[2021-10-01 11:04] rijusougata13 commented on #26
go ahead @Kaustuv942 !

[2021-10-01 11:05] #19 closed

[2021-10-01 11:06] OBITORASU commented on #24
Maybe you should follow the text and add some real description about what you want to do? You didn't even bother changing the template...

[2021-10-01 11:09] OjusWiZard commented on #24
Yeah just realized, I wrote the context but for some reason, it just submitted the template.
I resubmitted it now 👍

[2021-10-01 11:10] OBITORASU commented on #24
Sure go ahead work on this

[2021-10-01 11:10] adityamittl commented on #22
I would like to work upon this

[2021-10-01 11:10] OBITORASU commented on #24
Dont forget to follow the contributing guidelines :)

[2021-10-01 11:11] OBITORASU commented on #22
Sorry but this is already assigned to @dawnblade97

[2021-10-01 11:31] #24 closed

[2021-10-01 11:47] #26 closed

[2021-10-01 11:52] adityamittl opened #31 "Email Automation Script"
## Suggest a new script for the project

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]

### Describe the solution you'd like us to follow
A clear and concise description of how you want this script to work.

## Do you want to work on this?
- [ ] yes
- [ ] no

### Additional context
Add any other cont

[2021-10-01 11:59] IamBikramPurkait commented on #31
@adityamittl Don't forget to update the main README before creating a pull request.

[2021-10-01 12:15] JaniniRami opened #32 "Files Organizer"
Files Organizer

### Describe the new script you want
The script will be written in python and will automatically sort files in a folder depending on there file types in separate folders.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 12:19] OBITORASU commented on #32
Go ahead!

[2021-10-01 12:20] OBITORASU commented on #31
Go ahead!

[2021-10-01 12:30] rijusougata13 opened #34 "Notice board Scrapper with Python"
## Suggest a new script for the project
Notice board Scrapper with Python

### Describe the new script you want
This Script will extract all Notice from college website

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove this section.

[2021-10-01 12:45] yashjain-99 commented on #3
I would like to work on this issue. It will be great opportunity for me.

[2021-10-01 12:53] #32 closed

[2021-10-01 13:07] ignaviaa opened #37 "PDF Audiobook Reader"
## Suggest a new script for the project

### Describe the new script you want
A script that converts pdf texts-to-speech.

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
A python script to convert text-to-speech using python modules.

[2021-10-01 13:15] #34 closed

[2021-10-01 13:35] rijusougata13 commented on #37
go ahead @ignaviaa

[2021-10-01 13:35] OBITORASU commented on #37
Feel free to work on this!

[2021-10-01 14:53] gitshashwat opened #39 "Email-Phone Number Extractor"
## A script to have an email and a phone number extractor from text files/clipboard

### Describe the new script you want
Extract emails and phone numbers from the text of clipboard copied
or an input file and creates two csvs for it having email and phone number separately.

## Do you want to work on this?
- [x] yes
- [ ] no.

[2021-10-01 15:10] rajatkeshri commented on #39
Hi, I will work on it. Can you assign it to me?

[2021-10-01 15:37] rijusougata13 commented on #39
@rajatkeshri  sorry !! @gitshashwat is working on this. If you want to contribute in this repo you can create an issue and I'll assign you there.

[2021-10-01 15:41] adviksinghania opened #40 "Script to fetch lyrics of a song"
## Song-Lyrics-Fetcher

### Describe the new script you want
A Python3 script using Genius API to fetch the lyrics of a song given as input and store it in a text file.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 15:46] belelaritra commented on #40
I would like to work on this.

[2021-10-01 15:50] adityamittl opened #41 "Amazon-price-alert"
## Suggest a new script for the project

### Describe the new script you want
The script that alerts the customer when the price of an amazon product is below the threshold price value

### Describe the solution you'd like us to follow
Using web scraping we can make an alert for the customer to get the product when they get the fair deal

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 16:40] FireQueen-3010 opened #43 "Certificate Generator"
## Suggest a new script for the project

### Describe the new script you want
A python based certificate generator

### Describe the solution you'd like us to follow
A script template can be uploaded and gmail credentials of the sender needs to be inputted, also name and email of the participants can be stored in a file and this script will use translate property to place the name(s) in a place ac

[2021-10-01 16:41] FireQueen-3010 commented on #43
Please assign this me under hacktoberfest

[2021-10-01 16:56] rajatkeshri opened #44 "Grammar Checker and Corrector"
## A script to check and update grammar of given input paragraph text.

### I want a script that can take English text input and find out grammatical issues. The script would then return the modified paragraph with grammatical fixes and store it in a .txt file

### The grammatical issues will be found using the language tool API. (https://languagetool.org/)
Further the script will update the sente

[2021-10-01 17:04] rajatkeshri commented on #44
Please assign me the task

[2021-10-01 17:04] kriptonian1 opened #45 "OSINT Tool"
## Suggest a new script for the project
OSINT Tool to find phone number and IP address info

### Describe the new script you want
Use python modules to find information about IP address and phone number to help in OSINT investigation

### Describe the solution you'd like us to follow

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 17:05] kriptonian1 commented on #45
I would like to work in this issue

[2021-10-01 17:16] OBITORASU commented on #43
Go ahead!

[2021-10-01 17:17] OBITORASU commented on #45
Accepted! You can work on this.

[2021-10-01 17:17] OBITORASU commented on #41
Great idea feel free to work on this.

[2021-10-01 17:18] OBITORASU commented on #44
Sure go ahead!

[2021-10-01 17:19] OBITORASU commented on #40
Nice idea go ahead

[2021-10-01 17:22] #15 closed

[2021-10-01 17:24] New-dev0 opened #47 "Meaning Finder"
## Suggest a new script for the project
Meaning Finder

### Describe the new script you want
Find Meaning of Words , right from your terminal.

## Do you want to work on this?
- [✔] yes

[2021-10-01 17:29] OBITORASU commented on #47
Feel free to work on this! I might even end up using this one for real :P

[2021-10-01 17:35] belelaritra commented on #8
I would like to work on this issue.

[2021-10-01 17:35] OBITORASU commented on #8
Go ahead!

[2021-10-01 18:53] #47 closed

[2021-10-01 19:15] adityamittl opened #50 "Threaded Port Scanner"
## Suggest a new script for the project
A python script that searches for open ports for an IP address

### Describe the solution you'd like us to follow
A python script using socket, threading, argparse.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-01 20:03] #41 closed

[2021-10-01 20:08] OBITORASU commented on #50
Can you make this script a threaded script for faster port scanning? Also I would request you to focus on the CLI aspect and use `argparse` for parsing command line arguments instead of making this menu driven. Are you willing to work within the above constraints?

[2021-10-01 20:11] adityamittl commented on #50
Yes I would like to work on this

[2021-10-01 20:13] OBITORASU commented on #50
Fine then go ahead!

[2021-10-02 03:26] Ahana134 opened #55 "Automatic Screen Recorder"
## Suggest a new script for the project
**A python script that will automatically record our laptop screen**

### Describe the new script you want
**We can record our screen automatically at any interval of time using python which is very helpful for online study purpose.**

### Describe the solution you'd like us to follow
Some python modules is required ,the dimensions of the screen will be prov

[2021-10-02 03:27] Ahana134 commented on #55
Please assign this task to me

[2021-10-02 05:29] rijusougata13 commented on #55
go ahead @Ahana134

[2021-10-02 06:48] #39 closed

[2021-10-02 06:49] #44 closed

[2021-10-02 06:50] OBITORASU commented on #3
@kriptonian1 is still working on this, his previous PR was closed due to a corrupted git history, so he made another PR for the same.

[2021-10-02 06:59] OBITORASU opened #58 "Create an issue labeler workflow"
## Suggest an improvement
Currently we manually assign labels to issues, I want a workflow which does that for us every time an issue is created.

### Describe the solution you'd like
We can use this [action](https://github.com/github/issue-labeler) for example. We have some keyword in our issues templates which you can use for the regex matching for the workflow, they can be found under the `.git

[2021-10-02 08:21] advaita-saha opened #60 "SMS Sending Script Using Kalyra API"
SMS Sending Script Using Kalyra API

This is a python script that uses the kaleyra API for sending SMS. Kaleyra is one of the leading SMS service provider in the industry

Running the script provides users different kind of options for sending SMS. You can choose anyone and proceed with their SMS marketing campaign. This uses the Kaleyra API and make a nice CLI tool

## Do you want to work on this

[2021-10-02 08:30] #8 closed

[2021-10-02 08:38] advaita-saha commented on #60
Please assign this task to me

[2021-10-02 08:38] OBITORASU commented on #60
Sure go ahead.

[2021-10-02 09:25] saaiiravi commented on #40
Can I work on this as well?

[2021-10-02 09:26] saaiiravi commented on #58
Can I work on this?

[2021-10-02 09:27] OBITORASU commented on #58
Sure feel free.

[2021-10-02 09:29] OBITORASU commented on #40
No this one has already been assigned.

[2021-10-02 09:40] #60 closed

[2021-10-02 09:50] #40 closed

[2021-10-02 09:55] OBITORASU opened #63 "Reddit Image Scraper"
## Suggest a new script for the project

### Describe the new script you want
I want a script which scrapes top images from a subreddit of choice, e.g. `r/wallpapers` and stores them on your PC preferably in `.png` or `.jpg` format.

### Describe the solution you'd like us to follow
You should be using the `.json` method for scraping instead of the reddit api. You can parson the .json response and

[2021-10-02 10:05] belelaritra commented on #63
I would like to work on this issue.

[2021-10-02 10:05] OBITORASU commented on #63
Go ahead!

[2021-10-02 10:55] adityamittl opened #65 "GUI Paint Application"
## Suggest a new script for the project
GUI Paint application

### Describe the new script you want
Paint app using PyQt5 library

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 11:00] OBITORASU commented on #65
I think paint applications are way too common for most Operating Systems and having a full blown paint GUI paint application in a general purpose scripts repository doesn't make much sense. Closing this one.

[2021-10-02 11:00] #65 closed

[2021-10-02 11:03] OBITORASU opened #66 "OCR: Extract text from a valid image file"
## Suggest a new script for the project

### Describe the new script you want
A script to extract text from images and organize them in a `.txt` file (OCR)

### Describe the solution you'd like us to follow
Get a valid image from the user as input. Check if the image has any text, if not return an error. On the other hand, if there is valid text in the image provided by the user, scan the text con

[2021-10-02 11:05] Harshil-Jani commented on #66
I want to work with this Issue  ! Can I try ?

[2021-10-02 11:09] OBITORASU commented on #66
Sure give it a go!

[2021-10-02 12:27] Saket37 opened #68 "Raspberry Pi Telegram Bot"
## Suggest a new script for the project

### Describe the new script you want
A telegram Bot to monitor Raspberry Pi.

### Describe the solution you'd like us to follow
A script which will send CPU Temp alerts on Telegram. Shutdown, Reboot and Memory Usage of Raspberry Pi using Bot Commands.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 12:28] Saket37 commented on #68
can I work on it?

[2021-10-02 12:48] OBITORASU commented on #68
Don't think a script specific to `Rasberry Pi` can be considered `General Purpose`. Closing this, meanwhile if you have any other ideas feel free to open another issue :)

[2021-10-02 12:48] #68 closed

[2021-10-02 13:32] advaita-saha opened #69 "Youtube Video Downloader"
## Youtube Video Downloader

### Describe the new script you want
A simple YouTube video downloader from url as input and a working GUI

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 13:39] advaita-saha commented on #69
I want to contribute the script. Assign me this task

[2021-10-02 14:43] avyayjain commented on #3
pls assign me this issue

[2021-10-02 14:44] rijusougata13 commented on #69
go ahead @advaita-saha !

[2021-10-02 14:44] OBITORASU commented on #3
We already have an ongoing PR for this.

[2021-10-02 14:44] Prajakta102 commented on #3
kindly assign this task to me.

[2021-10-02 14:45] OBITORASU commented on #69
@advaita-saha sorry to interrupt but our repository does not accept YouTube download scripts because it is against YouTube Terms of Service. I will have to unassign you and close this poor. Extremely sorry!

[2021-10-02 14:45] #69 closed

[2021-10-02 14:46] OBITORASU commented on #3
Read above

[2021-10-02 14:54] aniketartani opened #70 "Video to Gif using python"
I want to add the script of a program in python which can convert a video to gif. Please assign me
## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 16:24] advaita-saha opened #76 "Image Compressor"
## Image Compressor

### Describe the new script you want
Compresses large images into smaller file sizes

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 16:24] advaita-saha commented on #76
I want to contribute this script. Please assign me @OBITORASU

[2021-10-02 16:29] OBITORASU commented on #76
Go ahead!

[2021-10-02 16:32] OBITORASU commented on #70
Go ahead!

[2021-10-02 16:37] DCYPHERR opened #77 "Reddit post scraper"
## Suggest a new script for the project
Reddit scraper using old reddit. Exports data to csv.
Following are the fields that are exported
Post Date, Author, upvotes, link of the post

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]

### Describe the solution you'd like us to follow
A clear and concise d

[2021-10-02 16:39] OBITORASU commented on #77
Go ahead!

[2021-10-02 16:39] DCYPHERR commented on #77
I'd like to work on the aforementioned. Kindly assign me the task!

[2021-10-02 16:50] #77 closed

[2021-10-02 16:58] akash-rao-2001 commented on #37
[text_to_speech.zip](https://github.com/GDSC-RCCIIT/General-Purpose-Scripts/files/7271865/text_to_speech.zip)

[2021-10-02 17:06] DCYPHERR opened #81 "Json to .xlsx converter"
## Do you want to work on this?
- [ x] yes
- [ ] no

[2021-10-02 17:06] OBITORASU commented on #37
@akash-rao-2001 this is clearly not how things work on `GitHub`. I suggest you watch a few YouTube tutorials about Git & GitHub and how to create PRs and Issues on GitHub.

[2021-10-02 17:07] antoooks opened #82 "Create JSON files from YAML files in a directory"
## Suggest a new script for the project

### Describe the new script you want
I would like to add a script to create JSON files from YAML files in a directory. Not converting, but instead adding new files with the same name only in JSON format.

### Describe the solution you'd like us to follow
To do list:
- Iterate YAML files
- Convert YAML files into JSON files
- Save JSON files in the same dire

[2021-10-02 17:08] OBITORASU commented on #82
Go ahead!

[2021-10-02 17:08] antoooks commented on #82
Hi I would like to work on this @OBITORASU :)

[2021-10-02 17:08] OBITORASU commented on #81
Go ahead!

[2021-10-02 17:11] GOD-OF-FIRE opened #83 "Text to Handwritten"
I want to add a mini project which converts Text-to-handwritten image. It can converts text content to an image that looks like handwriting.
Please assign this issue to me.

[2021-10-02 17:12] akash-rao-2001 commented on #37
may i be assigned this issue

[2021-10-02 17:18] OBITORASU commented on #83
Go ahead but next time try to follow the Issue template :)

[2021-10-02 17:22] OBITORASU commented on #37
No this one is already assigned to @ignaviaa and we have an ongoing PR for that already. You are free to open up a new issue with some new script idea and I will have it assigned to you :)

[2021-10-02 17:25] Candida18 opened #87 "Word Cloud Generator"
## Word Cloud Generator

### Code Description
This code generates a Word Cloud
Word Cloud is a data visualization technique used for representing text data in which the size of each word indicates its frequency or importance. Significant textual data points can be highlighted using a word cloud. Word clouds are widely used for analyzing data from social network websites.

### Description of the so

[2021-10-02 17:29] Candida18 commented on #87
Please assign this issue to me(Candida18). I would like to work on it.

[2021-10-02 17:37] OBITORASU commented on #87
Go ahead 3rd time is the charm!

[2021-10-02 17:39] Candida18 commented on #87
I have added a pull request. Please review it

[2021-10-02 17:47] #76 closed

[2021-10-02 17:57] OBITORASU commented on #76
@advaita-saha  When you write Fixes #(issue number) GitHub auto links the PR to the corresponding Issue and closes it once the PR is merged, I think you messed up by writing Issue #(issue number)

[2021-10-02 18:00] #22 closed

[2021-10-02 18:01] #81 closed

[2021-10-02 18:05] xtanion opened #91 "Spotify/Youtube playlist & songs downloader"
### Download songs from Spotify or YouTube link
The script will download songs or songs of a playlist, from a Youtube/Spotify link.

### Description
import libraries (FFmpeg or youtube-dl)
run downloader.py
paste the link in the terminal

## Do you want to work on this?
- [ ] yes
- [ ] no

[2021-10-02 18:07] xtanion commented on #91
I would like to write a script that will minimize the steps of downloading a song. Please assign it to me 😃

[2021-10-02 18:09] xtanion commented on #66
I would like to work on it, Can I give it a try?

[2021-10-02 18:10] OBITORASU commented on #91
I can't assign download scripts like these to anyone in question because they are in violation of the ToS of the platforms mentioned sorry :(
Please make a new issue with some other idea if you still want to contribute.

[2021-10-02 18:10] #91 closed

[2021-10-02 18:10] OBITORASU commented on #66
@xtanion we have @Harshil-Jani working on this already.

[2021-10-02 18:12] BasuDevTyagi10 opened #92 "Convert Word file to PDF format"
## Convert Word file to PDF format

### Code Description
Python script that converts doc file to pdf format. Comes handy when you have a bulk or single file conversion!

### Description of the solution
using docx2pdf module for file conversion and tkinter for GUI which enables easy use for the end user.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 18:13] BasuDevTyagi10 commented on #92
I would like to work on this issue for hacktoberfest2021. Please assign this issue to me.

[2021-10-02 18:15] xtanion commented on #66
Okay, No problem. I just got little excited

[2021-10-02 18:15] OBITORASU commented on #66
You can always open an issue of your own and work on it :)

[2021-10-02 18:15] OBITORASU commented on #66
If you have any great ideas feel free to drop a Script Request and I will assign it to you.

[2021-10-02 18:18] #63 closed

[2021-10-02 18:30] dawnblade97 opened #93 "merge pdf according to order"
## Suggest a new script for the project

### Describe the new script you want
A script that would merge all the pdf in a specific directory giving the user liberty to chose order

### Describe the solution you'd like us to follow
the script would first find all the pdf in a specific directory and then ask the user to order them if they want to .

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-02 18:39] OBITORASU commented on #92
Go ahead!

[2021-10-02 18:40] OBITORASU commented on #93
Go ahead! One of those scripts even I might end up using :P

[2021-10-02 19:53] #93 closed

[2021-10-02 20:01] AbhiC7721 opened #97 "Use camera to take pictures"
## Suggest a new script for the project

### Describe the new script you want
I will create a script to take pictures in python.

### Describe the solution you'd like us to follow
A camera-like desktop application using OpenCV and kivy.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-02 20:12] rijusougata13 commented on #97
go ahead @AbhiC7721

[2021-10-02 20:29] aaryan078 commented on #97
can I work on this?

[2021-10-02 20:32] rijusougata13 commented on #97
sorry ! @AbhiC7721  is currently working on this. @aaryan078  you can create your own issue and I'll assign you there.

[2021-10-02 20:42] aaryan078 opened #100 "Meter-to-Feet-Converter"
## Suggest a new script for the project

### Describe the new script you want
A script that converts meter to Feet.

### Describe the solution you'd like us to follow
A python script to convert Meter-to-Feet-Converter using python modules.

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context

[2021-10-02 21:48] belelaritra opened #101 "Terminal Video Editor"
## Terminal Video Editor
Edit Videos (specifically : `.mp4`) directly from the terminal.

### Describe the new script you want
<b>Functionalities :</b>
* Trim Video (From: beginning / ending)
* Remove a portion from the Video
* Resize the Video (By: %)
* Control the speed of the Video (Fast / Slow)
* Control the volume (Increase / Decrease)
* Extract Audio from Video
* and other functionalities

#

[2021-10-02 21:57] belelaritra commented on #101
@OBITORASU , @rijusougata13 👋
<b>Please assign this issue to me.</b> 😊

[2021-10-03 03:10] OBITORASU commented on #100
This is too common you can just go to google and have it done, a dedicated script doesn't make much sense. Closing this.

[2021-10-03 03:10] #100 closed

[2021-10-03 03:10] OBITORASU commented on #101
Sure go ahead.

[2021-10-03 04:27] imsushant12 opened #105 "News Reader"
## News headlines Reader using News API

### Describe the new script you want
I want to add a python script that reads out top-5 newspaper headlines using NEWS API.

### Describe the solution you'd like us to follow
This script will use request and json modules to feth data and then reads it out.

## Do you want to work on this?
- [YES] yes
- [ ] no

[2021-10-03 04:29] OBITORASU commented on #105
Go ahead!

[2021-10-03 04:42] AcousticCh opened #106 "pie chart maker"
## Suggest a new script for the project

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]
I want to add a python command line script that parses a list of user input and displays it on a pie chart

### Describe the solution you'd like us to follow
A clear and concise description of how you want this scr

[2021-10-03 04:43] OBITORASU commented on #106
Go ahead! Make sure the user input is valid though.

[2021-10-03 05:03] imsushant12 opened #108 "Hangman Game"
## Hangman Game Script

### Describe the new script you want
I want to implement a script of the famous hangman game.

### Describe the solution you'd like us to follow
My script will be a famous game named hangman which can be played between 2 players.

## Do you want to work on this?
- [YES] yes
- [ ] no

[2021-10-03 05:40] SaheliThakur commented on #108
Hi, I'd like to contribute to this script.  I would be implementing this game using a python script which could be played between two players.

[2021-10-03 06:05] OBITORASU commented on #108
This script is just a game and doesn't really automate anything in general so I will consider this invalid.

[2021-10-03 06:05] #108 closed

[2021-10-03 06:08] dishant26 opened #110 "Scrape Tweets of a Hashtag using Twitter API"
## Suggest a new script for the project

### Describe the new script you want
I will create a script to scrape tweets of a user-inputted Hashtag

### Describe the solution you'd like us to follow
This will be a command line script, it will initially ask the user to input the Hashtag and then it will scrape the 100-200 most recent tweets of that Hashtag using the Twitter API and Tweepy and will the

[2021-10-03 06:08] OBITORASU commented on #110
Go ahead! Make sure you document this well for the end-user.

[2021-10-03 06:19] Rohitshailesh43 opened #112 "Python_VoiceAssistant"
## Suggest a new script for the project
Python Based Voice Assistant

### Describe the new script you want
Voice assistant which is programmed to automate and perform tasks like playing songs and videos, searching Wikipedia for information, tells jokes, tells interesting facts, reciting latest news , telling real time weather forecast.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-03 06:37] Monish-P opened #113 "Audio Transcriptor"
## Suggest a new script for the project

Audio Transcriptor
### Describe the new script you want

This python script will convert an audio file to text and also uses speech recognition to convert our speech to text. Lastly, the text is saved in a new separate file.

### Describe the solution you'd like us to follow

I will be using some python modules like pydub, speech recognition to work on this

[2021-10-03 07:03] FlyingwithCaptainSoumya commented on #43
@OBITORASU  Can I work on this?

[2021-10-03 07:10] deepak-chouhan opened #115 "Colored Image to Sketch Converter"
## Suggest a new script for the project
Python Image Converter

### Describe the new script you want
I want to add a Python Script which will Convert Colored Image to Sketch Image

### Describe the solution you'd like us to follow
I will user OpenCV library to convert Image to Sketch Image

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-03 07:43] DCYPHERR opened #119 "Audio format converter"
## Suggest a new script for the project
Audio format converter

## Do you want to work on this?
- [ x] yes

[2021-10-03 08:34] Shashwat-05 commented on #119
- [x] yes, can you please assign this to me, This will be going to be my very first hacktober contribution.

[2021-10-03 08:37] DCYPHERR commented on #119
I recently finished it so I'd like to contribute it to this repository for everyone to use. Hence why I've raised the issue. Sorry!

[2021-10-03 09:21] st0rm2 opened #121 "Filters files through their extension"
## Filters files through their extension

### Describe the new script you want
I want an python script that filters files by their extension.

### Describe the solution you'd like us to follow
It will filter the files with a similar extension and moving it to a new folder that is dedicated to files of that extension.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-03 09:32] k-chetan commented on #92
I want to work on this issue.

[2021-10-03 10:15] Ollie-beep-bop commented on #43
@OBITORASU Can I contribute to this? i am new to hacktober so i needed to start with this. Thanking in advance

[2021-10-03 10:27] rijusougata13 commented on #121
go ahead

[2021-10-03 10:28] OBITORASU commented on #121
I think we already have one such script called file organizer.

[2021-10-03 10:28] rijusougata13 commented on #119
go ahead

[2021-10-03 10:30] OBITORASU commented on #119
You can open another issue and have it assigned.

[2021-10-03 10:42] Candida18 commented on #87
I have added a pull request with the necessary changes. Please review it

[2021-10-03 11:41] dishant26 opened #128 "Calculate the Duration of any YouTube playlist"
## Suggest a new script for the project

### Describe the new script you want
The main issue in YouTube is  that it does not show the total time duration of any playlist.
I will create a script to calculate the time duration of any YouTube playlist.

### Describe the solution you'd like us to follow
Initially the user will enter the playlist link for which the user want the time duration. I will u

[2021-10-03 11:41] rex2828 opened #129 "Password Strength Checker"
## Password Strength Checker

### Describe the new script you want
Basically this script will tell how many times the password has been breached before in data breaches so you can estimate the strength of a password

### Describe the solution you'd like us to follow
I am using an API for fetching of haveibeenpwned.com to bring the data, and make sure you don't have to enter your password directly

[2021-10-03 11:44] rex2828 commented on #129
can I work on this issue?

[2021-10-03 11:58] Candida18 commented on #87
I have added a pull request with the necessary changes. Please review it

[2021-10-03 12:49] amretapandey opened #131 "Password Generator"
## Password Generator

### A python script to generate a random strong password for the user.

### Random library can be used to generate a strong password for the user as per the entered length.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-03 12:50] amretapandey commented on #131
I want to work on this, please assign it to me.

[2021-10-03 13:33] Ritika457 commented on #37
Hey, @ignaviaa can you assign this issue to me. I can fix this.

[2021-10-03 13:34] OBITORASU commented on #112
Yes go ahead!

[2021-10-03 13:35] Ritika457 commented on #45
Hey, @kriptonian1 can you assign this issue to me. I can fix this.

[2021-10-03 13:35] OBITORASU commented on #113
Go ahead!

[2021-10-03 13:35] OBITORASU commented on #115
Go ahead!

[2021-10-03 13:36] #121 closed

[2021-10-03 13:36] Ritika457 commented on #3
Hey, @rijusougata13  can you assign this issue to me. I can fix this.

[2021-10-03 13:36] Ritika457 commented on #3
Hey, @rijusougata13  can you assign this issue to me? I can fix this.

[2021-10-03 13:37] OBITORASU commented on #129
Yes you can work on this!

[2021-10-03 13:38] OBITORASU commented on #131
We already have an onging PR for a similar issue so I have to close this

[2021-10-03 13:38] #131 closed

[2021-10-03 13:38] Ritika457 commented on #115
Hey, @deepak-chouhan can you please assign this issue to me. I can work on this.

[2021-10-03 13:44] Ritika457 commented on #92
Hey, @BasuDevTyagi10  , I would like to work on this issue for hacktoberfest2021. Please assign this issue to me.

[2021-10-03 13:49] #101 closed

[2021-10-03 13:57] OBITORASU commented on #128
Go ahead you can work on this!

[2021-10-03 13:57] OBITORASU commented on #128
Make sure you document this one well.

[2021-10-03 13:59] ignaviaa commented on #37
@Ritika457  sorry this issue has been already assigned to me and i have already pulled a request on it. But you are free to open up a new issue with some new script ideas and our maintainers will have it assigned to you.

[2021-10-03 14:02] BasuDevTyagi10 commented on #92
hi @Ritika457, sorry but I cannot assign you the issue since I'm not a moderator of this repo and also I've already made a PR for this issue (need to fix some merge conflicts though). I suggest you create your own issue and work on it.. that's how I did things here.. All the best.

[2021-10-03 14:04] #105 closed

[2021-10-03 14:08] rijusougata13 commented on #115
Hi @Ritika457 , @deepak-chouhan  is currently working on this.

[2021-10-03 15:27] rex2828 commented on #129
Hey @OBITORASU can you look at this PR, and merge it if correct.

[2021-10-03 15:47] tausiq2003 commented on #129
can I work on this

[2021-10-03 15:53] tausiq2003 commented on #3
wait I will make a pr which have short code.

[2021-10-03 16:09] #129 closed

[2021-10-03 16:27] #45 closed

[2021-10-03 16:51] MahirRohatgi18 opened #138 "Image Format Converter"
## Suggest a new script for the project
Python Image Format Converter

### Describe the new script you want
I want to add a Python Script which **can be used to convert .png, .jpg, .webp into each other.**

### Describe the solution you'd like us to follow
I will use the Python Imaging Library  to convert the Image formats.

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional contex

[2021-10-03 17:51] #37 closed

[2021-10-03 17:53] imsushant12 opened #139 "Notification Reminder"
## Suggest a new script for the project

### Describe the new script you want
I want to add a python script that will remind the user with specified thing after a given duration.

### Describe the solution you'd like us to follow
This script will use plyer and time modules.

## Do you want to work on this?
- [YES] yes
- [ ] no

[2021-10-03 17:56] HarshKakran commented on #139
I want to work on this

[2021-10-03 18:01] OBITORASU commented on #138
@MahirRohatgi18 go ahead!

[2021-10-03 18:08] avyayjain commented on #112
pls assign me this issue

[2021-10-03 18:09] avyayjain commented on #112
i have already made this task as you can see it my profile

[2021-10-03 18:23] Dr-blue-cyber opened #141 "secured chat machine with encryption"
# secured chat machine with encyption

### this new script is very import as this person like hacker cant get users information on web

### this chat machine provides encryption and decryption to message which cant be access by only key which is knew to only msg sender then without this no one can get what msg is all about

## Do you want to work on this?
- [X] yes
- [ ]  no

[2021-10-03 18:23] ShivamS2201 commented on #139
Count me IN

[2021-10-03 18:28] ShivamS2201 commented on #128
Can I work on this too?

[2021-10-03 19:01] OBITORASU commented on #139
Go ahead work on this. By default the first person to ask gets assigned and @imsushant12 said he wants to work on this so assigning him. If he fails the next person to ask can pick this up.

[2021-10-03 19:01] OBITORASU commented on #141
@rijusougata13 opinions?

[2021-10-03 19:18] rijusougata13 commented on #141
interesting !! go ahead

[2021-10-03 21:57] Dr-blue-cyber commented on #141
hello @rijusougata13  @OBITORASU  just what I mentioned I make push requests with branch name Chat_Machine If there is any problems or suggest your opinion to me plz..

[2021-10-04 01:25] DCYPHERR opened #145 "Spectrogram"
## Suggest a new script for the project
A spectrogram made using matplotlib.

### Describe the new script you want
Spectrogram which can be used to visualize audio files. Useful in CTF's / detect steganography

## Do you want to work on this?
- [ x] yes
- [ ] no

[2021-10-04 03:54] st0rm2 opened #146 "Simple ceaser cipher encoder, decoder"
## Suggest a new script for the project

### Describe the new script you want
I want  python script that implements the simple ceaser cipher encoder and decoder

### Describe the solution you'd like us to follow
A clear and concise description of how you want this script to work.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-04 03:59] jadhav-kunal opened #147 "Random email generator"
## Suggest a new script for the project
Random email generator

### Describe the new script you want
This script will randomly generate an email address using a mix of letters, both caps on and off, numbers, and punctuation, then outputs the results.

### Describe the solution you'd like us to follow
- Script will ask user for how many emails they want generated. Must be Integer.
- Creates emails.

[2021-10-04 04:05] Candida18 commented on #87
I have added a pull request with the necessary changes. Please review it

[2021-10-04 04:22] GigaMoksh opened #148 "Downloading MiniClip Games using a Python Script"
## Suggest a new script for the project
Python Script which downloads all the miniclip games

### Describe the new script you want
I'll be using bs4 to parse miniclip website and download all the games that are present on the website. Also, we will be using os module to create a folder for all of this games.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-04 04:43] GigaMoksh opened #150 "Covid Cases Tracker"
## Suggest a new script for the project
Check total cases, total deaths or total recovered from covid in a specific country or in the whole world.

### Describe the new script you want
I'll be using a GUI which will show how many cases are there in the specific country you searched for or even the total cases in the whole world. Also, we can check total deaths and total recovered from covid19

##

[2021-10-04 04:54] yashpy commented on #147
I would like to contribute to this issue. I ll fix it.

[2021-10-04 06:49] OBITORASU commented on #119
@Shashwat-05  still interested in working on this?

[2021-10-04 06:49] OBITORASU commented on #146
Go ahead!

[2021-10-04 06:49] OBITORASU commented on #145
Go ahead!

[2021-10-04 06:50] OBITORASU commented on #147
Can you please tell me how this idea might be useful?

[2021-10-04 06:51] OBITORASU commented on #150
Go ahead!

[2021-10-04 06:53] Shashwat-05 commented on #119
so I'm a bit confused, is this script hasn't it been completed properly?

[2021-10-04 06:54] OBITORASU commented on #119
@Shashwat-05 the assignee closed his pull request and the issue which implies he doesn't wanna work on it anymore making this script an up-for-grab script request.

[2021-10-04 06:58] GigaMoksh commented on #150
thankyou!

[2021-10-04 07:01] Shashwat-05 commented on #119
Yes, I'll be glad to work on it. @OBITORASU

[2021-10-04 07:16] #106 closed

[2021-10-04 07:18] OBITORASU commented on #119
Go ahead!

[2021-10-04 07:20] AntrikshSharma commented on #146
I would like to work on this! :)

[2021-10-04 08:18] Dr-blue-cyber commented on #141
hello @rijusougata13  @OBITORASU  can anyone here to tell me what happened to my merge request plz I need your suggestions

[2021-10-04 08:20] OBITORASU commented on #141
@Dr-blue-cyber you didn't create one to begin with as far as I see.

[2021-10-04 08:21] rijusougata13 commented on #141
hi. Please send your PR. Then we can review. I guess changes on your local machine.

[2021-10-04 08:36] yashpy commented on #148
Please assign me this work.

[2021-10-04 08:58] OBITORASU commented on #148
I don't feel like this script is that useful for general purpose use, specifically because it sounds like a one time use script. Closing this.

[2021-10-04 08:58] #148 closed

[2021-10-04 08:59] khushboorathore10 commented on #146
Hi I would like to work on this issue ... Kindly assign this to me @st0rm2

[2021-10-04 09:24] #147 closed

[2021-10-04 09:33] jadhav-kunal opened #159 "Keylogger"
## Suggest a new script for the project
Keylogger

### Describe the new script you want
Keylogger script will be written in python and it will log input from the keyboard.

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context

It can be used by employers to monitor activity of employees.
It can also be used by teachers to monitor activity of students.

[2021-10-04 10:31] #150 closed

[2021-10-04 10:36] GigaMoksh opened #160 "Update README.md"
![GDSC-RCCIIT_General-Purpose-Scripts_ A repository containing several general purpose Python scripts to automate daily and common tasks  - Google Chrome 04-10-2021 16_05_06](https://user-images.githubusercontent.com/72140092/135836941-e1a51116-51e3-43e6-8507-d02484ed1034.png)

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-04 10:41] advaita-saha opened #161 "Correct the inconsistency in the README file"
## Create a report to help us improve our scripts

### Mention the script affected by the bug
main Readme.md file inconsistency

## Do you want to work on this?
- [x] yes
- [ ] no

<img width="931" alt="Screenshot 2021-10-04 at 3 56 47 PM" src="https://user-images.githubusercontent.com/30210770/135837612-5d6486c9-4a6a-4c23-92ef-dab4ab8d2b4d.png">

### Additional context
Add any other context about

[2021-10-04 10:42] advaita-saha commented on #160
Assign me

[2021-10-04 10:42] GigaMoksh commented on #161
I have already opened the issue for this.

[2021-10-04 10:56] bartick commented on #161
There is already a issue on this #130 . Please don't open duplicate issues.

[2021-10-04 10:57] #161 closed

[2021-10-04 10:58] KulkarniKrishna commented on #3
hey! please can you assign me, I would love to contribute

[2021-10-04 11:26] advaita-saha opened #162 "Website Blocker"
## Website Blocker

### Describe the new script you want
I simple website blocker script using the hosts file to block websites for parental control or distraction avoidance

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-04 11:58] rijusougata13 commented on #161
Hi, We found that it's a small change. An extra space caused this. Thanks for reporting. But we will not accept any pr for this as it's a one-line fix.

[2021-10-04 11:58] rijusougata13 commented on #160
Hi, We found that it's a small change. An extra space caused this. Thanks for reporting. But we will not accept any pr for this as it's a one-line fix.

[2021-10-04 11:58] #160 closed

[2021-10-04 12:14] honeykpatel opened #165 "Telegram Bot"
## Suggest a new script for the project
A simple telegram bot to automate the stuff

### Describe the new script you want
It can be used to automate some work or add a new feature to your own project.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-04 13:01] OBITORASU commented on #162
Can you support os detection and make this script platform independent?

[2021-10-04 13:50] OBITORASU commented on #162
Works go ahead!

[2021-10-04 13:52] Kashika18 opened #168 "Feature Request in the AudioBook script"
## Suggest an improvement for a script (AudioBook)
We can ask the user for the speed rate at which they want to hear the pdf.

### Mention the Script where you would like to have this feature added
Name of the script where I want to make improvements:

 General-Purpose-Scripts/scripts/AudioBook/

https://github.com/GDSC-RCCIIT/General-Purpose-Scripts/blob/16901ea8b759be3aabeea0afa98d0827f72fc17c/s

[2021-10-04 14:26] belelaritra opened #170 "LinkedIn Job Scrapper"
## Suggest a new script for the project
LinkedIn Job Scrapper

### Describe the new script you want
Scrap best fitted job details according to your location & your job profile.

### Describe the solution you'd like us to follow
Without using any API or, python libraries like [`linkedin-scraper`](https://pypi.org/project/linkedin-scraper/).

## Do you want to work on this?
- [x] yes
- [ ] no

### A

[2021-10-04 14:53] jadhav-kunal commented on #159
@OBITORASU Can you please assign me?

[2021-10-04 16:21] ParamTatiya02 commented on #23
Can i work on this issue?

[2021-10-04 16:32] OBITORASU commented on #168
You can work on this!

[2021-10-04 16:33] OBITORASU commented on #170
Go ahead!

[2021-10-04 16:34] OBITORASU commented on #165
Can you tell me the features of this bot?

[2021-10-04 16:34] OBITORASU commented on #159
How do you wish to transmit the logs of this keylogger can you explain?

[2021-10-04 16:35] Kashika18 commented on #3
I would like to work on this issue, please assign this issue to me.

[2021-10-04 16:59] jadhav-kunal commented on #159
Logs will be stored in logs.txt using write function in python

[2021-10-04 17:01] OBITORASU commented on #159
Go ahead.

[2021-10-04 17:28] honeykpatel commented on #165
It would be dynamic and general functions like greetings, some basic detail or command description, scraping new or photos. Like that.

[2021-10-04 17:37] Kashika18 commented on #115
@deepak-chouhan  I would like to work on the issue, please assign it to me.

[2021-10-04 17:38] Kashika18 commented on #110
I would like to work on this issue, please assign it to me.

[2021-10-04 17:58] deepak-chouhan commented on #115
@Kashika18 i have already raised a pull request for this issue, you can raise an issue for another script which you want to work on. A maintainer will assign you that issue and then you can start working on it

[2021-10-04 18:01] Candida18 opened #179 "Text Encryption and Decryption to and from an Image (Steganography)"
# Text Encryption and Decryption to and from an Image (Steganography)

## Description
A script to encode or hide text into an image and then decode it.

## Description of the solution
* Upload the image in which you want to encrypt text
* Write the function to perform encryption
* Text will be encrypted into the image
* Write the function to perform decryption
* Display the text encrypted in the i

[2021-10-04 18:06] #115 closed

[2021-10-04 18:09] OBITORASU commented on #179
Make this such that the user selects and image file locally via the command line or menu instead of having a upload feature. Make sure its a `.py` script instead of a notebook file :)

[2021-10-04 18:37] Dr-blue-cyber commented on #141
<img width="960" alt="Screenshot 2021-10-05 000348" src="https://user-images.githubusercontent.com/85605208/135905584-9e3025bb-0e51-42b0-bc8e-3d6b54174771.png">

bro after lots of efforts i did this plz see this screenshot if there is any mistakes plz let mw know @rijusougata13 @OBITORASU

[2021-10-04 18:40] OBITORASU commented on #141
You are yet to open a pull request, I suggest you read our contributing guidelines on how you can or just watch a youtube video.

[2021-10-04 19:34] nipunarora8 commented on #179
Please assign this task to me, I will complete it.

[2021-10-04 20:22] nipunarora8 opened #184 "Live video workout tracking."
Live video workout tracking.

A pose detection-based workout-tracking script that can demonstrate workout on a live video as well as on a stick diagram.

The user will stand in front of the camera and perform movements and using pose estimation the algorithm will be able to show him his performance.
Additionally, will map the movement of the elbow and shoulder joints with angles for better underst

[2021-10-04 21:20] rijusougata13 commented on #141
hi currently the PR is under your origin. You have to send the pr to our repo. To do that click compare and send pull request. Fill the template. click commit .

[2021-10-04 21:24] rijusougata13 commented on #184
go ahead @nipunarora8

[2021-10-05 00:16] MrRobot3301 commented on #159
Hi,
This is MrRobot, Please assign this to me. I'll Make it !

[2021-10-05 03:43] #110 closed

[2021-10-05 05:00] OBITORASU commented on #165
All yours!

[2021-10-05 05:56] #128 closed

[2021-10-05 08:25] #66 closed

[2021-10-05 08:28] harshrawat20 opened #189 "Inshort Short news scrapper."
## Suggest a new script for the project
Inshort Short news scrapper.

### Describe the new script you want
The program will consist of a scrapper which scraps the short news from the inshorts website.

### Describe the solution you'd like us to follow
This will simply just scrap the information from the website(https://www.inshorts.com/en/read) and show on the output screen.

## Do you want to wor

[2021-10-05 09:55] Harshil-Jani opened #190 "Battery Alert"
## Suggest a new script for the project

A Python Script that will notify us about the battery percent remaining on the system after setting some threshold value for it.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-05 11:47] #92 closed

[2021-10-05 11:58] #145 closed

[2021-10-05 12:00] OBITORASU commented on #189
We already have two news scrapers on our repository so closing this one. Feel free to open up another script request if you have some other nice idea!

[2021-10-05 12:00] #189 closed

[2021-10-05 12:01] OBITORASU commented on #190
Go ahead!

[2021-10-05 12:13] #146 closed

[2021-10-05 14:09] Harshit-2000 opened #192 "Hand Recognition using MediaPipe and openCV"
## A hand recognition class made using MediaPipe library and openCV

### Description
A class will contain a method to detect if hands are present on webcam and a method which will give coordinates of each finger if hand is detected.

### Uses
This could be used to implement various projects such as a controlling your mouse from webcam.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-05 15:17] PradeepBaipadithaya opened #195 "Speech Recognizer using python"
## Suggest a new script for the project

### Describe the new script you want
I want to add speech recognizer code that can identify words that we spoke and this can be used for further improvement of any customized work.

[2021-10-05 15:18] PradeepBaipadithaya commented on #195
Please issue me with this Issue

[2021-10-05 15:20] PradeepBaipadithaya opened #196 "Create bar graph using python code"
## Suggest a new script for the project

### Describe the new script you want
This code takes the points as input and returns the bar graph representation.

[2021-10-05 15:20] PradeepBaipadithaya commented on #196
Please assign me with this issue

[2021-10-05 16:31] #55 closed

[2021-10-05 16:38] #170 closed

[2021-10-06 00:24] MrRobot3301 commented on #43
can u please assign this to me to contibute

[2021-10-06 03:28] Candida18 commented on #160
Please assign this issue to me, there are many scripts which have been added to the repo but not mentioned in the readme

[2021-10-06 04:00] Candida18 opened #199 "Update main README.md"
## Updating and Formatting README.md of GDSC-RCCIIT/General-Purpose-Scripts

### Mention the Script where you would like to have this feature added
General-Purpose-Scripts README.md

### Describe the solution you'd like
Please assign this issue to me, there are many scripts which have been added to the repo but not mentioned in the readme

I would also sort the list of scripts table in the main RE

[2021-10-06 04:18] RG6969 opened #200 "A motion and edge detection python program."
## Suggest an improvement for a script

### Mention the Script where you would like to have this feature added
A motion and edge detection python program.

### Is your feature request related to a problem? Please describe
A python program that detects motion of any object through edge tracking using python and OpenCV.
Additional accessory require is a webcam for PC.

## Do you want to work on this

[2021-10-06 05:05] #200 closed

[2021-10-06 05:15] RG6969 opened #202 "Security Webcam"
### Mention the Script where you would like to have this feature added
A python program that detects motion through live feed from a webcam and alerts the users.

## Do you want to work on this?
I want to work on this.

[2021-10-06 05:26] OBITORASU commented on #199
Go ahead.

[2021-10-06 05:55] OBITORASU commented on #195
Go ahead.

[2021-10-06 05:57] OBITORASU commented on #202
I think we have a similar script implemented as live workout so closing this.

[2021-10-06 05:57] #202 closed

[2021-10-06 06:55] #192 closed

[2021-10-06 10:05] Samay10 commented on #190
@OBITORASU @Harshil-Jani i would like to work on this issue.

[2021-10-06 11:13] honeykpatel commented on #165
I'm working on it, but if you want to add a different functional script then you can raise another issue

[2021-10-06 13:05] manisrini opened #217 "Text to speech converter using python"
### Describe the new script you want
This project takes the text as input and converts this text into audio.

[2021-10-06 13:08] #199 closed

[2021-10-06 13:10] OBITORASU opened #218 "Links in readme are broken."
## Create a report to help us improve our scripts

### Mention the script affected by the bug
The main readme file of our repository.

### Describe the bug
A lot of the links in the available scripts section of our main readme file are either broken or are pointing to something entirely off-topic.

### Expected behavior
Ideally all the links should work and point to the directory of the target scr

[2021-10-06 13:27] sippuutkarsh commented on #196
i am good at solving these type of issues . can you please assign it to me

[2021-10-06 13:37] Oaparecido commented on #218
Hey, can you assign this issue to me ?!

[2021-10-06 13:57] GigaMoksh opened #220 "Move .type of files from one folder to another."
## Suggest a new script for the project
This script automatically moves the type of file you provide from the source folder to the destionation folder you provided.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-06 16:57] Candida18 opened #224 "System Health Status"
## System Health Status

### Description
* The project aims for checking the system health with a shell script.

* This is a short, lightweight script that gets the necessary information and status like hostname, kernel version, CPU, Uptime, memory/ disk usage using native Linux utilities and doesn't take up much room.

* The Script uses hostname, uname, arch, uptime, cat, mpstat, ps, df, free, he

[2021-10-06 16:59] Candida18 commented on #224
@OBITORASU Please assign this issue to me

[2021-10-06 17:19] devpladinc opened #225 "Mood checker - Sentiment-based analyzer"
## Mood checker - sentiment-based analyzer

### Describe the new script you want
User will input paragraphs/text with no certain length and the script will determine the following:

- General sentiment of the paragraph; either positive or negative.
- Provide a breakdown of each sentence, measuring its mood sentiment respectively.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-06 17:19] devpladinc commented on #225
Hello, please assign this issue to me. Thank you!

[2021-10-06 18:06] OBITORASU commented on #218
Sure!

[2021-10-06 18:06] OBITORASU commented on #224
Sure go ahead! Sounds interesting.

[2021-10-07 04:27] OBITORASU commented on #220
Don't feel like this is very useful, this is a simple command in bash and on Windows it should be a simple drag and drop.

[2021-10-07 04:27] #220 closed

[2021-10-07 07:13] #224 closed

[2021-10-07 07:27] OBITORASU commented on #179
Are you still working on this issue?

[2021-10-07 09:33] pragyakhanna11 opened #231 "News Scraping Script"
## News Scraping Script

### Describe the new script you want
I want to add a web scraping script which scrapes news website and makes a csv as well as a doc for the same

### Describe the solution you'd like us to follow
I would like to use beautifulSoup for this project

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-07 09:58] pragyakhanna11 opened #232 "Pdf to Doc script"
## Pdf to Doc script

### Describe the new script you want
I wish to add a script that convert pdf files to docs.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-07 17:25] avyayjain commented on #3
@rijusougata13 pls assign me this issue

[2021-10-07 17:26] avyayjain opened #238 "speech recognition alarm"
set alarm using speech recognition

[2021-10-08 03:59] Anubhab2002 opened #242 "Add an Anime Recommendation ML model"
## Anime Recommendation System

### Describe the new script you want
This script will recommend the 10 most related anime based on a particular anime input from the user. Based on the concepts:
- correlation
- text vectorization
- cosine distance and cosine similarity

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-08 05:24] OBITORASU commented on #238
Don't think this script is that great of an idea.

[2021-10-08 05:24] #238 closed, assigned to nobody

[2021-10-08 05:25] OBITORASU commented on #231
We already have two news scrapers on our repository. Closing this.

[2021-10-08 05:25] #231 closed

[2021-10-08 05:26] #218 closed

[2021-10-08 05:26] OBITORASU commented on #232
All yours!

[2021-10-08 06:45] ASLManasa opened #244 "Url Shortner"
## Suggest a new script for the project
Url Shortner

### Describe the new script you want
I want to add a script for URL shorter GUI that would shorten long URLs.

## Do you want to work on this?
- [x ] yes
- [ ] no

[2021-10-08 07:19] #217 closed

[2021-10-08 07:23] Anubhab2002 commented on #242
Okay, I will do that

[2021-10-08 16:14] #242 closed

[2021-10-08 17:01] lovishprabhakar opened #252 "Typing speed test"
## Suggest a new script for the project
Typing speed tester using python

### Describe the new script you want
I want to add a script for a typing speed tester GUI which will tell users their typing speed.

## Do you want to work on this?
-  yes

[2021-10-08 17:20] lovishprabhakar02 opened #253 "Instagram photo downloader"
## Suggest a new script for the project
Instagram photo downloader

### Describe the new script you want
I would like to add an Instagram photo downloader GUI which will allow users to download any photo from Instagram by giving its URL as input.

## Do you want to work on this?
- yes

[2021-10-08 20:03] #3 closed

[2021-10-08 20:05] OBITORASU commented on #244
Already have a url shortener script in our repository. Closing this.

[2021-10-08 20:05] #244 closed

[2021-10-08 20:05] OBITORASU commented on #253
Go ahead!

[2021-10-08 20:08] OBITORASU commented on #43
@FlyingwithCaptainSoumya you can work on this if you are interested, the original assignee didn't open a PR with us and hence was unassigned due to inactivity.

[2021-10-08 20:09] #82 closed

[2021-10-08 20:10] #87 closed

[2021-10-08 20:17] OBITORASU commented on #184
@nipunarora8 really sorry for the delay in reviewing your PR. Thanks for your contribution.

Issue closed by PR #198

[2021-10-08 20:17] #184 closed

[2021-10-09 05:07] Shah-Aayush opened #255 "Spam-bot"
## Suggest a new script for the project
Spam-bot : spams text-messages to anywhere !

### Describe the new script you want
I would like to add an spam-bot which can spam the text-messages as directed by user.

### Describe the solution you'd like us to follow
simple python script which asks user the text-message and number of count for spamming. [can spam infinite times too]

## Do you want to wor

[2021-10-09 05:13] Shah-Aayush commented on #255
I have already requested a PR yesterday which was closed as I didn't create a new issue regarding this topic but now As I  created a new issue here, should I make a new PR or my existing closed PR can be opened?

[2021-10-09 06:33] OBITORASU commented on #50
All yours!

[2021-10-09 06:34] OBITORASU commented on #255
Spamming anyone/anything is mostly an unethical act and is a form of harassment. Sorry we cannot accept this script in our repository.

[2021-10-09 06:34] #255 closed

[2021-10-09 06:35] OBITORASU commented on #252
@lovishprabhakar02 why did you close the PR?

[2021-10-09 06:46] GigaMoksh opened #257 "Backup of folder into a zip file"
Backup of folder into a zip file using zipfile and os module

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-09 06:53] bhaskarkumar1 commented on #257
Yes

[2021-10-09 07:06] TanCodes opened #258 "Notifier desktop app with GUI"
## Notifier Desktop app

### Describe the new script you want
I wish to add a script related to notifier app for desktop.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-09 07:47] Shubhi-22 commented on #252
I want to add a script for a typing test tester which will tell user there typing speed and how there typing speed is like rating wise using GUI. I want to work on this.

[2021-10-09 08:03] kiranbaby14 commented on #83
can i work on this issue as part of hacktoberfest.

[2021-10-09 13:35] Annnesha commented on #83
Can you assign this to me?
Thanks :)

[2021-10-09 13:44] OBITORASU commented on #83
@kiranbaby14 assigning this to you since you asked first.

[2021-10-09 14:02] Shah-Aayush opened #260 "Alarm clock"
## Suggest a new script for the project
Alarm and Remainder

### Describe the new script you want
Console based Alarm clock and remainder which plays sound and shows message as user directed.

### Describe the solution you'd like us to follow
Simple python script which uses `playsound`,`datetime`,`time` modules

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-09 14:03] kiranbaby14 commented on #83
Thank u

[2021-10-09 14:22] Shah-Aayush opened #261 "Notification_Reminder"
## Create a report to help us improve our scripts
Notification_Reminder uses a python module named as `plyer`. Here `plyer` module also requires `pyobjus` module which is used for accessing Objective-C class because it uses native notifications implantations. Without importing that package

### Mention the script affected by the bug
Notification_Reminder

### Describe the bug
Notification_Reminder

[2021-10-09 15:13] mohamedarish opened #263 "Hangman"
## Suggest a new script for the project
A script to play hangman in the python console

## Do you want to work on this?

- yes

[2021-10-09 19:18] karan-ksrk opened #266 "Auto Directory Manager"
## Suggest a new script for the project

A script to automatically move file from one directory to another

## Do you want to work on this?
- [x] yes

[2021-10-10 05:52] GigaMoksh opened #269 "Youtube downloader"
Basic automation script for downloading youtube hosted videos.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-10 06:31] saRvaGnyA commented on #70
Hey, can I work on this?

[2021-10-10 08:04] kiranbaby14 commented on #70
may i work on this ?

[2021-10-10 10:03] saaiiravi commented on #58
Yes. So I was facing difficulty catching the keywords. Can you help me out here?

[2021-10-10 10:04] OBITORASU commented on #58
Use regex to match some of the keywords used in our issue template. You can check the template out its inside the `.github` directory.

[2021-10-10 10:05] OBITORASU commented on #70
Sure

[2021-10-10 15:24] kiranbaby14 commented on #70
thanks

[2021-10-10 16:22] SanjanaSogimatt commented on #119
Can I work on this project? I am new to open source

[2021-10-11 03:53] #83 closed

[2021-10-11 06:09] SanjanaSogimatt commented on #119
Extremely sorry for the disturbance .It's an audio format converter so it is supposed to convert audio into any other format. So I was thinking to use inbuilt library pydub for this project. But this can only convert into to a single type like mp3. Is it okay?

[2021-10-11 07:38] Tanuj2552 opened #273 "Crypto Currency Tracker"
## Suggest a new script for the project
Crypto Currency tracker

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]
This script is used to scrap a crypto current website (eg. [yahoo](https://finance.yahoo.com/cryptocurrencies)) without the use of any browser and get a record of all the crypto's for every

[2021-10-11 08:41] DCYPHERR commented on #119
Originally I planned to take in any type of audio file identify its format, then provide the user a selection of multiple formats to convert it to.

[2021-10-11 09:19] OBITORASU commented on #119
You are kind of wrong on the conversion type. `pydub` defaults to `.mp3` when exporting but natively supports `.wav` and `.raw` as well. For rest of the audio formats though you have to install `ffmpeg` as a dependency on the system.

[2021-10-11 18:09] lovishprabhakar02 commented on #252
@OBITORASU sir all problems have been solved in PR #272. Kindly review and merge it.

[2021-10-11 18:26] OBITORASU commented on #252
Left you a review check.

[2021-10-12 07:04] DCYPHERR opened #275 "Image Metadata grabber"
## Suggest a new script for the project
Image Metadata grabber

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]
Prints the metadata of the i/p image to txt file in the working dir.

### Describe the solution you'd like us to follow
A clear and concise description of how you want this script to work.
Ca

[2021-10-12 07:12] #252 closed, assigned to lovishprabhakar

[2021-10-12 07:14] #258 closed, assigned to nobody

[2021-10-12 07:14] OBITORASU commented on #257
Go ahead!

[2021-10-12 07:16] #263 closed, assigned to nobody

[2021-10-12 07:17] OBITORASU commented on #275
All yours!

[2021-10-12 07:18] #266 closed

[2021-10-12 08:38] Prabesh-Shrestha opened #276 "Image to PDF converter"
Making a script that converts all images inside a directory and combines it into a pdf file

[2021-10-12 09:51] #70 closed

[2021-10-12 11:08] GigaMoksh opened #282 "Voice to text convertor"
## Suggest a new script for the project
Voice to text convertor

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-12 12:55] lovishprabhakar opened #286 "Video to Audio convertor"
## Suggest a new script for the project
Video to audio convertor using python.

### Describe the new script you want
 I would like to add a script(under hacktoberfest 2021) which converts video to audio(extracts audio from a video).

## Do you want to work on this?
- [ ] yes

[2021-10-12 16:36] OBITORASU commented on #282
Already have this one I think.

[2021-10-12 16:38] OBITORASU commented on #282
My bad seems like we don't, in that case feel free to work on this one.

[2021-10-12 16:39] OBITORASU commented on #286
Go ahead!

[2021-10-12 17:13] #260 closed, assigned to Shah-Aayush

[2021-10-12 17:25] #261 closed, assigned to Shah-Aayush

[2021-10-13 15:04] kiranbaby14 opened #292 "README errors"
## Create a report to help us improve our scripts
Readme file has got some bugs.

### Mention the script affected by the bug
Name of the affected script
| Id No. | Script Name               | Script Description                                                           | Link                                                                                                       |
| ------------ | ---

[2021-10-14 01:56] GigaMoksh opened #297 "CSV to JSON"
## Suggest a new script for the project
Script which converts the given csv file to json. I can also do json to csv

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-14 07:21] pdesai878 opened #298 "PDF2text"
# Suggest a new script for the project
### PDF2text
A Python script to extract text from pdf file. A user can add file path of any pdf file and the script will extract all text from it.
Dependencies to install using pip:  pdftotext

# Do you want to work on this?
[Yes] I want to work on this script.

[2021-10-14 07:57] #292 closed, assigned to kiranbaby14

[2021-10-14 09:33] #253 closed

[2021-10-14 10:19] mahalrupi opened #301 "Detect Driver Drowsiness"
## Suggest a new script for the project

### Describe the new script you want
A python script which will detect a human face feature and check whether his/her eyes are drowsy or not

### Describe the solution you'd like us to follow
Will calculate vertical length of eyes in real time and if it is smaller than a threshold value for a duration of seconds, will alert the person through an alarm

## D

[2021-10-14 10:52] mahalrupi opened #302 "Product Availability on Amazon"
## Suggest a new script for the project

### Describe the new script you want
A python script to send a mail to user once a product is available.

### Describe the solution you'd like us to follow
A clear and concise description of how you want this script to work.

## Do you want to work on this?
yes

### Additional context
Add any other context or screenshots about the feature request here. If n

[2021-10-14 11:06] mahalrupi opened #303 "Grammer and spelling check"
## Suggest a new script for the project

### Describe the new script you want
A script to check for grammar and spelling error in a test using python libraries

## Do you want to work on this?
yes

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove this section.

[2021-10-14 15:31] #301 closed, assigned to nobody

[2021-10-14 19:26] #298 closed, assigned to pdesai878

[2021-10-15 05:58] mahalrupi opened #310 "Morse Code Translater"
## Suggest a new script for the project

### Describe the new script you want
A script which will translate morse code into English language

## Do you want to work on this?
- [. ] yes
- [ ] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove this section.

[2021-10-15 06:48] #276 closed

[2021-10-15 06:48] akash9579 commented on #196
Hi Pradeep
Can you assigned me this issue?
i will make user interactive bar graph as well

[2021-10-15 06:49] OBITORASU commented on #196
@PradeepBaipadithaya are you still working?

[2021-10-15 17:26] #232 closed

[2021-10-15 17:27] OBITORASU commented on #310
Sure go ahead!

[2021-10-15 19:11] devpladinc commented on #225
Hi there, PR #312 was sent for this issue. Thank you so much!

[2021-10-16 03:59] Kashika18 opened #313 "Know your password"
## Suggest a new script for the project
A python script that will let you know the already saved wifi passwords on your system.

## Do you want to work on this?
- [x] yes
- [ ] no

Please assign this issue to me under hacktoberfest.

[2021-10-16 04:37] Kashika18 opened #314 "csv_to_excel"
## Suggest a new script for the project
This programme writes the data in any Comma-separated value file (such as: .csv or .data) to a Excel file.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-16 04:41] Kashika18 opened #315 "Mindfulness- a mental health bot"
## Suggest a new script for the project
A discord bot made using simple python script.

### Describe the new script you want
It is a bot that detects sad messages and tries to increase the enthusiasm of the unhappy. The bot even provides some inspirational quotes as well as helpline numbers for people in great mental distress.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-16 04:45] Kashika18 opened #316 "Download Youtube Videos"
## Suggest a new script for the project
A youtube video downloader script using pytube

## Do you want to work on this?
- [x] yes
- [ ] no

Please assign this to me under hacktoberfest.

[2021-10-16 04:47] Kashika18 opened #317 "Filter Duplicate Files"
## Suggest a new script for the project
A python script to find/remove duplicate files from the user specified directory

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-16 06:46] kiranbaby14 opened #318 "Image to caroonized image"
## Suggest a new script for the project
Image to cartoonized Image.

### Describe the new script you want
I would like to suggest a new python script that can convert a given image to a cartoonized one.

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
I have already seen a script  that is similar to this suggested script in the repository. I am attaching the link below.

[2021-10-16 06:47] kiranbaby14 commented on #318
@OBITORASU can i work on this and if so should i add this as a new script or should i improve upon the already existing one?

[2021-10-16 08:21] JaniniRami opened #319 "Music Visualizer"
# Music visualizer made with Python.

### Describe the new script you want
The script will be written in python and will use algorithms to convert audio files to matrices and show a bar music visualization based on the processing of the audio file.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-16 08:24] Rahuls66 opened #320 "Z-Statistic Calculator"
## Suggest a new script for the project
Z-statistic Calculator

### Describe the new script you want
A Python script to calculate Z-statistic value, both for one sample and two samples, which is highly useful in testing the hypotheses.

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-16 09:20] OBITORASU commented on #318
Make improvements to the existing ones.

[2021-10-16 15:35] sonikasahoo commented on #196
Hi,this is my 1st contribution.  Can you please assign me this issue?
You can also check my profile .

[2021-10-16 15:45] sonikasahoo commented on #313
Can you please label this as hackotober-fest and assign me this?
I want to contribute in this project.

[2021-10-17 04:39] kiranbaby14 commented on #318
ok

[2021-10-17 05:56] MrRobot3301 commented on #316
Hello ,
Please assign this issue to me i want to contribute on this.
#MrRobot3301

[2021-10-17 06:46] #320 closed, assigned to Rahuls66

[2021-10-17 11:29] MrRobot3301 commented on #316
Hello ,
Please assign this issue to me i want to contribute on this.
#MrRobot3301

[2021-10-17 11:32] thelokipost opened #328 "Add a pie chart also"
## Suggest an improvement for a script
A pie chart would be great along with this.

### Mention the Script where you would like to have this feature added
Name of the script where you want the feature.
In progran itself.

### Is your feature request related to a problem? Please describe
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the s

[2021-10-17 13:45] #319 closed, assigned to JaniniRami

[2021-10-17 13:52] dishant26 opened #330 "Mask vs No-mask detection"
## Suggest a new script for the project

### Describe the new script you want
A script that will take input image from user and give an output image with the detection of faces of people with and without a mask.

### Describe the solution you'd like us to follow
I will create a Object Detection Model using YOLOv5 which is trained on Mask vs No-mask images with bounding boxes.

It can detect all th

[2021-10-17 13:56] OBITORASU commented on #317
Go ahead!

[2021-10-17 13:56] #316 closed

[2021-10-17 13:58] OBITORASU commented on #313
You can work on this if can you make this platform independent. You have to make sure it works on NT, Darwin and Linux.

[2021-10-17 13:58] OBITORASU commented on #315
Discord bots aren't accepted sorry..

[2021-10-17 13:58] #315 closed

[2021-10-17 13:58] OBITORASU commented on #328
Which script are you trying to improve?

[2021-10-17 13:59] OBITORASU commented on #330
This doesn't sound general purpose enough, more viable for commercial use I guess.

[2021-10-17 18:30] OBITORASU commented on #316
YouTube Terms of Service.

[2021-10-17 19:41] dishant26 opened #332 "Plagarism Checker"
## Suggest a new script for the project

### Describe the new script you want
I will create a script to check similarity between 2 text files and with give percentage score of the plagarism.

### Describe the solution you'd like us to follow
I will use sklearn library in python to create the vectors of the words in both the files and then use cosine similarity function to find the similarity.

##

[2021-10-18 02:06] MrRobot3301 commented on #316
Ohh yes sure ! No prob ....

[2021-10-18 10:54] Kira272921 opened #334 "Question"
Can scripts of discord bot can be added to this repo
I have made a water reminder discord bot which helps people to stay hydrate

[2021-10-18 12:42] Prabesh-Shrestha opened #335 "Add a motivator script"
uses Google voice API and zenquotes API
It tells you motivational quotes according to your choice

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-18 14:26] Anish1008 opened #336 "Alarm clock with GUI"
Alarm Clock GUI

As the name suggests, I have recently developed an alarm clock software using the python language with its GUI which is based on the Tkinter module of python. We can set up multiple alarms in this software, change the alarm ringtone, delete alarms, and snooze alarms for 5 mins.

Currently, my script is lacking in delete alarm options and the addition of different alarm ringtones (

[2021-10-18 19:01] #310 closed

[2021-10-19 01:45] Kira272921 opened #337 "# Water Reminder Discord Bot"
As the name suggests,
It is water reminder bot which reminds to drink water every 2hours, so that the users in that discord server can be hydrated

## Do you want to work on this?
- [x] yes
- [ ] no

[2021-10-19 19:18] aaryan078 opened #344 "Screen Recorder"
## Suggest a new script for the project

Screen Recorder using python
### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]
Build a Screen Recorder using python

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
Add any other context or screenshots about the feature request here. If

[2021-10-20 02:03] Kira272921 commented on #337
@OBITORASU Made a pull request :+1:

[2021-10-20 02:05] Kira272921 commented on #337
#345

[2021-10-20 14:43] dishant26 opened #346 "Script to Delete pages from PDF entered by the user."
## Suggest a new script for the project

### Describe the new script you want
A python script to delete pages from pdf. The user will enter the page numbers he wants to delete from a pdf and the script deletes those pages and gives the output pdf to the user.

### Describe the solution you'd like us to follow
I will use the PyPDF2 library to achieve this functionality. I will take pdf path from us

[2021-10-21 07:39] OBITORASU commented on #344
We already have this one.

[2021-10-21 07:39] #344 closed

[2021-10-21 08:01] CodeReaper-10 opened #350 "QR and Barcode Scanner"
I have developed a script that scans both Barcodes and QR codes.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-21 09:04] CodeReaper-10 opened #351 "Dictionary"
I developed a script that searches for the meaning of the entered word using Free Dictionary API

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-21 09:14] CodeReaper-10 opened #352 "Temperature Converter"
I developed a simple Tkinter GUI based temperature converter app that converts temperature from one scale to the rest two scales.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-21 12:04] #351 closed, assigned to nobody

[2021-10-21 12:05] #352 closed

[2021-10-22 04:56] aaryan078 opened #355 "GitHub Automation using Python"
## Suggest a new script for the project
GitHub Automation using Python

### Describe the new script you want
A clear and concise description of what the new script is all about. Ex. I want an email script which [...]
we are gonna be automating GitHub such that we can create GitHub repositories automatically from the terminal

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional conte

[2021-10-22 05:02] aaryan078 opened #356 "Job Board Scraper"
## Suggest a new script for the project
Job Board Scraper

## Do you want to work on this?
- [x] yes
- [ ] no

### Additional context
Add any other context or screenshots about the feature request here. If not applicable remove this section.

[2021-10-22 06:06] CodeReaper-10 opened #357 "Copy to clipboard"
A script which copies contents from a text file to the clipboard.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-22 07:07] CodeReaper-10 opened #358 "Audio Recorder"
A script that records audio for `n` seconds (as given by the user).

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-22 07:09] CodeReaper-10 opened #359 "NATO Phonetic Alphabet"
A script that spells out a word using the NATO phonetic alphabet.

## Do you want to work on this?
- [X] yes
- [ ] no

[2021-10-22 11:58] #350 closed, assigned to CodeReaper-10

[2021-10-24 04:36] #346 closed, assigned to dishant26

[2021-10-24 11:28] lovishprabhakar opened #361 "Text to audio convertor"
## Suggest a new script for the project
Text to audio using python.

### Describe the new script you want
I  would like to add  a script under hacktoberfest that takes some text as input and then makes the computer speak that text.(Just like an AI)

## Do you want to work on this?
- [ ] yes

[2021-10-24 19:10] #286 closed, assigned to lovishprabhakar

[2021-10-24 19:11] #328 closed, assigned to nobody

[2021-10-24 19:11] #357 closed, assigned to CodeReaper-10

[2021-10-24 19:12] #358 closed, assigned to CodeReaper-10

[2021-10-25 08:08] #359 closed, assigned to CodeReaper-10

[2021-10-26 02:39] K3shM opened #366 "Password Generator"
Password Generator

This script is all about generating passwords. Thinking of new passwords can be annoying, as many websites also require special characters. This generator includes special characters, numbers, upper and lower case in generated passwords.

Generates passwords, random ones. Stores generated passwords in a text file.

## Do you want to work on this?
- [✅] yes

[2021-10-27 05:40] Raunakkumarr opened #370 "jpg to png converter"
I would like to add an script to convert jpg to png image. Would you like to work on the project?

[2021-10-27 09:22] Raunakkumarr opened #373 "password protect pdf files Raunakkumarr"
## Password Protect PDF Files

### This script will encrypt the pdf files with a password of user's choice.
User will have to provide the location of the pdf file and then a password for it and the script will encrypt the file with that password. User can also choose either to delete previously unprotected file or not.

## Do you want to work on this?
- [ ] yes

[2021-12-11 02:47] #141 closed

[2021-12-11 02:47] #159 closed

[2021-12-13 02:46] #195 closed

[2021-12-13 02:46] #165 closed

[2021-12-16 02:45] #113 closed

[2021-12-17 02:47] #58 closed

[2021-12-17 02:47] #50 closed

[2021-12-18 02:51] #119 closed

[2021-12-19 02:49] #257 closed

[2021-12-20 02:48] #179 closed

[2021-12-21 02:49] #303 closed

[2021-12-21 02:49] #302 closed

[2021-12-21 02:49] #297 closed

[2021-12-22 02:49] #225 closed

[2021-12-23 02:48] #196 closed

[2021-12-24 02:48] #317 closed

[2021-12-24 02:48] #314 closed

[2021-12-24 02:48] #313 closed

[2021-12-25 04:31] lovishprabhakar commented on #361
This issue isn't stale. The issue has been solved jn #365. @OBITORASU

[2021-12-25 05:51] OBITORASU commented on #361
It is marked stale because of inactivity GitHub does that automatically don't worry.

[2021-12-26 02:50] #336 closed

[2021-12-26 02:50] #335 closed

[2021-12-30 02:47] #356 closed

[2021-12-31 02:49] #43 closed

[2021-12-31 02:49] #355 closed

[2022-01-03 02:49] #373 closed

[2022-01-03 02:49] #370 closed

[2022-01-05 02:49] #366 closed

[2022-03-04 02:54] #361 closed